body{
      background-color: black;
}
.header .logo{
      text-align: center;
}
.header{
      display: block;
      height: auto initial;
}
.header ol{
      display: block;
}
.header ol li{
      height: 50px;
}
.header a{
      display: block;
      justify-content: center;
}